@import "./styles/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Arial";
  background-color: #fff;
  color: #1a1a1a;
}

.Main {
  height: calc(100vh - $header-height);
}

span,
h1,
h3,
p,
div,
input,
input::placeholder,
button,
h2 {
  font-family: "Arial", sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.label {
  font-weight: 600;
  font-size: 14px;
}