@import "../../../styles/variables";

.Input {
 display: flex;
 flex-direction: column;
 gap: 4px;

 &__field {
  width: 100%;
  max-width: $max-input-width;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  background-color: $background-secondary;
  border: 2px solid $background-third;
  transition: all 0.3s;

  &:focus {
    border: 2px solid $eggplant;
  }
 }
}
