$header-height: 80px;

$background-primary: #ffffff;
$background-secondary: #efeeee;
$background-third: #9e9e9e;

$text-primary: #010101;
$text-disabled: #4c4c4c;
$text-neutral: #676767;
$eggplant: #865bff;

$accent-first: #d34747;
$bg-overlay: #77777799;
$shadow-dark-box: #21212140;
