$header-height: 80px;
$max-input-width: 540px;

$background-primary: #ffffff;
$background-secondary: #f8f8f8;
$background-third: #d9d9d9;
$background-neutral-10: #000000;

$text-primary: #010101;
$text-disabled: #4c4c4c;
$text-neutral: #676767;
$eggplant: #865bff;

$accent-first: #d34747;
$bg-overlay: #77777799;
$shadow-dark-box: #21212140;
