$font-weight-lighter: 300;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$font-size-xxs: 12px;
$font-size-xs: 13px;
$font-size-sx: 14px;
$font-size-s: 15px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-ml: 22px;
$font-size-xl: 24px;
$font-size-xxl: 36px;

$line-height-xs: 16px;
$line-height-s: 18px;
$line-height-m: 20px;
$line-height-l: 24px;
$line-height-ml: 28px;
$line-height-xl-second: 32px;
$line-height-xl: 34px;

$font-h1-size: 32px;
$font-h1-line-height: 36px;
$font-h1-weight-medium: 500;
$font-h1-weight-bold: 600;

$font-h2-size: 24px;
$font-h2-line-height: 32px;
$font-h2-weight-light: 300;
$font-h2-weight-medium: 400;
$font-h2-weight-semibold: 600;

$font-h3-size: 20px;
$font-h3-line-height: 20px;
$font-h3-weight-light: 300;
$font-h3-weight-medium: 400;
$font-h3-weight-semibold: 600;
$font-h3-weight-bold: 700;

$font-s1-size: 16px;
$font-s1-line-height: 20px;
$font-s1-weight-light: 300;
$font-s1-weight-medium: 400;
$font-s1-weight-semibold: 500;

$font-caption-size: 14px;
$font-caption-mini-size: 12px;
$font-caption-mini-line-height: 14px;
$font-caption-line-height: 16px;
$font-caption-weight-light: 300;
$font-caption-weight-bold: 500;

$font-button-size: 16px;
$font-button-small-size: 14px;
$font-button-line-height: 16px;
$font-button-weight-medium: 500;

/// Types
///
/// @param {string} $type
///   h1 - bold, medium
///   h2 - semibold, medium, light
///   s1 - semibold, medium, light
///   caption - bold, light
///   button - medium
///   button-small - medium
/// @param {string} $weight
///   bold, semibold, medium, light
@mixin typography($type: "s1", $weight: "medium") {
  @if $type == "h1" {
    font-size: $font-h1-size;
    font-weight: $font-h1-weight-medium;
    line-height: $font-h1-line-height;

    @if $weight == "bold" {
      font-weight: $font-h1-weight-bold;
    }
  }

  @if $type == "h2" {
    font-size: $font-h2-size;
    font-weight: $font-h2-weight-medium;
    line-height: $font-h2-line-height;

    @if $weight == "semibold" {
      font-weight: $font-h2-weight-semibold;
    }
    @if $weight == "light" {
      font-weight: $font-h2-weight-light;
    }
  }

  @if $type == "h3" {
    font-size: $font-h3-size;
    font-weight: $font-h3-weight-medium;
    line-height: $font-h3-line-height;

    @if $weight == "bold" {
      font-weight: $font-h3-weight-bold;
    }
    @if $weight == "semibold" {
      font-weight: $font-h3-weight-semibold;
    }
    @if $weight == "light" {
      font-weight: $font-h3-weight-light;
    }
  }

  @if $type == "s1" {
    font-size: $font-s1-size;
    font-weight: $font-s1-weight-medium;
    line-height: $font-s1-line-height;

    @if $weight == "semibold" {
      font-weight: $font-s1-weight-semibold;
    }
    @if $weight == "light" {
      font-weight: $font-s1-weight-light;
    }
  }

  @if $type == "caption" {
    font-size: $font-caption-size;
    font-weight: $font-caption-weight-light;
    line-height: $font-caption-line-height;

    @if $weight == "bold" {
      font-weight: $font-caption-weight-bold;
    }
  }

  @if $type == "caption-mini" {
    font-size: $font-caption-mini-size;
    font-weight: $font-caption-weight-light;
    line-height: $font-caption-mini-line-height;

    @if $weight == "bold" {
      font-weight: $font-caption-weight-bold;
    }
  }

  @if $type == "button" {
    font-size: $font-button-size;
    font-weight: $font-button-weight-medium;
    line-height: $font-button-line-height;
  }

  @if $type == "button-small" {
    font-size: $font-button-small-size;
    font-weight: $font-button-weight-medium;
    line-height: $font-button-line-height;
  }
}
