@import '../../styles/variables';

.Header {
  height: $header-height;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
    height: 100%;
  }
}
